*{
    margin:0px;
    border:0px;
    box-sizing:border-box;
}
body{
    font-family: "Exo", "sans-serif";
    font-size: 18px;
}
.sechead{
    font-family:"Exo";
    font-size:2.5rem;
    text-align:center;
    padding-bottom: 4%;
    padding-top: 8%;
    text-decoration: underline;
}
.secheadhome{
    font-family:"Exo";
    font-size:2.5rem;
    text-align:center;
    padding-bottom: 30px;
    padding-top: 70px;
    text-decoration: underline;
}

html{
scroll-behavior: smooth;
}
#sitename{
    height: 250px;
    width: 100%;
    background:url(images/C1.png) no-repeat;
    color: white;
    transition: 5s;
    text-align: center;
    font-size: 3.5rem;
    padding-top: 85px ;
    text-shadow: 0 0 10px black;
}
.color{
    color: red;
}
.color1{
    color: rgb(29, 138, 8);
}
.color2{
    color: rgb(255, 123, 0);
}
.color3{
    color: rgb(231, 134, 1);
}
.color4{
    color: white;
    text-shadow: 0 0 5px black;
}
.color5{
    color: brown;
}
.color7{
    color:royalblue
}
.color8{
    color: rgb(255, 174, 0);
}
.color9{
    color: rgb(117, 80, 0);
}
.color10{
    color: rgb(255, 229, 115);
    text-shadow: 0 0 5px rgb(0, 0, 0);
}
#sitename:hover{
    text-shadow: 0 0 10px rgb(114, 113, 112);
    font-weight: 900;
}


/* Navbar */
.navbar{
    z-index: 1;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#FFC947;
    position:sticky;
    top:0;
}
nav>ul{
list-style: none;
display: flex;
padding: 0;
margin: 0;
transition: 5s;
}
nav li a:-webkit-any-link{ 
transition: 2s;
}
li>a:-webkit-any-link>.fa-angle-down{
    color: #185ADB;
    transition: all 2s;
}
.items:hover .fa-angle-down{
    transform: rotate(180deg);
    transition: all 2s; 
    color: brown;
}
/* li>a>.fa-chevron-up{
    color:brown;
    padding: 0px 0px 0px 8px;
    display: none;
}
.items:hover .fa-angle-down{
    display: none;
    transition: 2s;
}
.items:hover .fa-chevron-up{
    display: inline;
    transition: 2s;
} */
nav li a:-webkit-any-link{
text-decoration: none;
color: #185ADB;
justify-items: center;
align-items: center;
padding: 0px 45px;
}
nav li:hover a{
color: brown;
}
nav li:hover{
background: #EFEFEF;
transition: 2s;
box-shadow:0px 0px 20px white;
}
nav>ul{
list-style: none;
padding: 0;
margin: 0;
display: flex;
color: #fff;
}
nav>ul>li{
position: sticky;
cursor: pointer;
font-size: 1.5rem;
font-weight: bold;
letter-spacing: 1px;
height: 50px;
line-height: 50px;
text-align: center;
margin: 5px 0px;
}
.dropdown{
position: absolute;
width: 100%;
padding: 0px;
text-align: center;
}
.dropdown li{
background: #FFC947;
display: none;
margin: 5px 0px;
text-align: center;
overflow: hidden;
}
.dropdown li:hover{
background: wheat;
box-shadow:0px 0px 10px black;
}
.dropdown li a:-webkit-any-link{
text-decoration: none;
color: #185ADB;
padding: 3px 10px;
}
.dropdown li:hover a{
color: brown;
transition: 1s;
}
nav li:hover .dropdown li{
display: block;
}
nav li:hover>.dropdown{
perspective: 1000px;
}
nav li:hover>.dropdown li{
transform-origin: top center;
opacity: 0;
}
nav li:hover > .dropdown li:nth-child(1){
animation: animate 300ms ease-in-out forwards;
animation-delay: -150ms;
}
nav li:hover > .dropdown li:nth-child(2){
animation: animate 300ms ease-in-out forwards;
animation-delay: 0ms;
}
nav li:hover > .dropdown li:nth-child(3){
animation: animate 300ms ease-in-out forwards;
animation-delay: 150ms;
}
nav li:hover > .dropdown li:nth-child(4){
animation: animate 300ms ease-in-out forwards;
animation-delay: 300ms;
}
@keyframes animate{
0%{
    opacity: 0;
    transform: rotateX(-90deg);
}
50%{
    transform: rotateX(20deg);
}
100%{
    opacity: 1;
    transform: rotateX(0deg);
}
}

/*Home*/
#home{
    box-sizing:border-box;
	padding: 0px 25px 60px 25px;
	background: url(images/BG1.jpg) repeat;
    height: fit-content;
}
.homecontainer{
    display: flex; 
    justify-content: center;
}

 #pic{
    display:flex;
} 
#pic img{
    width: 530px;
    height: 400px;
    box-shadow: 0 2px 10px 2px rgba(0,0,0,.2);
    border-radius: 25px;
    padding: 3px;
    object-fit: contain;
}
#intro{
    display:flex;
    flex-direction:column;
    text-align:justify;
    padding:10px;
}
#intro p{
    padding-left: 15px;
    font-size: 18px;
}
.button{
    text-decoration: none;
    padding: 15px 80px;
    text-align: center;
    text-transform: uppercase;
    transition: 1.5s;
    background-image: linear-gradient(to right, #603813 0%, #b29f94  51%, #603813  100%);
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-family: "Exo","Sans-Serif";
    font-size: 1.1rem;
}
.button:hover{
    box-shadow: 0 0 10px rgb(136, 104, 44);
    color: #fff;
    text-decoration: none;
}

/*About Section*/
#about{
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    padding:0px 25px 20px 100px;
    background: url(images/BG3.jpg);
}
.aboutcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about h2{
    color: brown;
}
#intro1 p{
    font-size: 18px;
}
#pic1{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 25px;
}
#pic1 img{
    width: 500px;
    height: 430px;
}
.exp{
    text-decoration: none;
    padding: 15px 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Exo";
    font-size: 1.1rem;
    transition: 2s;
    background-image: linear-gradient(to right, rgb(209,105,253) 0%, rgb(126,148,247)  51%, rgb(82,170,246)  100%);
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}
.exp:hover{
    background-position: right center;
    box-shadow: 0 0 10px rgb(71, 4, 100);
    color: #fff;
    text-decoration: none;
}

/*Items*/
#items{
    padding-bottom: 50px;
    background: url(images/BG1.jpg);
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-bottom: 5%;
    margin-right: auto;
    margin-top: 0%;
}
.img{
    width: 85%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 2px 10px 2px rgba(0,0,0,.2);
    transition: 2s;
}
.img:hover{
    box-shadow: 0 2px 10px 2px black;
    transition: 2s;
}
.img img{
    width: 100%;
    border-radius: 15px;
    transition: 2s;
}
.img a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 5px 50px;
    margin-top: 8px;
    width: 170px;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #7c0404 0%, #a17373  51%, #7c0404  100%);
    border-radius: 12px;
}
.img a:hover{
    background-image: linear-gradient(to right, #630505 0%, #644747  51%, #630505  100%);
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}
.img:hover img{
    transform: scale(1.1);
    transition: 2s;
    z-index: -1;
}
.imageframe{
    overflow: hidden;
    border-radius: 15px;
    margin: 0;
    padding: 0;
}
.img>p{
    padding-top: 8px;
}
/*services*/
#services{
    background: url(images/BG3.jpg);
    padding-bottom: 70px;
}
   .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-gap: 30px;
    width: 90%;
    margin-left: auto;
    margin-bottom: 5%;
    margin-right: auto;
    margin-top: 0%;
}

   .box{
    width: 85%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 2px 10px 2px rgba(0,0,0,.2);
    background: linear-gradient(to top,royalblue 50%, rgba(255, 255, 255, 0.438) 50%);
    background-size: 100% 200%;
    transition:all .5s;
}
.box h2{
    font-size: 1.5rem;
    text-align: center;
}
  .box:hover{
   background-position:left bottom;
   color: white;
   border: none;
   box-shadow: 0 0 20px royalblue;
}
.box img{
  width: 100%;
  padding: 4px;
  background-color: white;
  box-shadow: 0 2px 10px 2px rgba(82, 81, 81, 0.2);
  margin-bottom: 15px;
  border-radius: 15px;
}


/*Register*/
#Register {
    background: url(images/BG1.jpg);
    padding-bottom: 85px;
}
#Register>h1{
    padding-bottom: 18px;
}
.register {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    padding-bottom: 70px; 
    padding-top: 10px;
}
.form-box {
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.384);
    background-image: linear-gradient(to left, rgba(65, 105, 225, 0.651), rgba(124, 104, 238, 0.623));
    width: 512px;
    min-height: 650px;
    position: relative;
    overflow: hidden;
}
.form-box h2 {
    color: white;
    font-size: 2rem;
}
input {
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 15px;
    width: 85%;
    font-size: 17px;
    margin-bottom: 20px;
    height: 35px;
}
input:focus{
    box-shadow: 0 0 10px 2px rgba(48, 48, 48, 0.534);
    transition: 2s;
}
input[type="date"]:focus{
    box-shadow: 0 0 10px 2px rgba(48, 48, 48, 0.534);
    transition: 2s;
}
option:focus{
    box-shadow: 0 0 10px 2px rgba(48, 48, 48, 0.534);
    transition: 2s;
}
input[type="date"]:before{
    content: attr(placeholder) !important;
    color: rgb(90, 90, 90);
    margin-right: 0.5em;
}
.input-group{
    transition: .5s;
    position: absolute;
    right: 10%;
    left: 10%;
}

select {
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 15px;
    width: 85%;
    font-size: 17px;
    margin-bottom: 20px;
}
.submit-btn{
    background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
    color: #210a3f;
    width: 65%;
    cursor: pointer;
    padding: 10px 30px;
    border: 0;
    outline: 0;
    border-radius: 30px;
    font-size: 18px;
    margin: 15px 0px 20px 0px;
    box-shadow: 0 2px 10px 2px #ffffff33;
}
.button-box{
    width: 250px;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgba(255, 255, 255, 0.534);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.137);
    height: 42px;
}
.toggle-btn{
    padding: 10px 36px;
    font-size: 1rem;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-family: "Exo";
    width: 125px;
}
#tbtn{
    top: 0;
    left: 0;
    position: absolute;
    width: 125px;
    height: 100%;
    background: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
    border-radius: 30px;
    transition: .5s;
}
.check-box{
    width: 12px;
    height: 12px;
    color: rgb(90, 90, 90);
}
.cbtxt{
    font-size: 16px;
}
.half-width{
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Owner{
    margin-bottom: 10px;
    margin-top: 20px;
}
#a{
    height: 180px;
}
#form-i{
    background: -webkit-linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
    font-size: 30px;
    color: #fee2f8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    font-size: 38px;
    transition: 2s;
}
.join{
    padding: 90px 20px 5px 20px;
    align-items: center;
    justify-content: center;
}
#log{
    position: relative;
    padding-top: 12%;
}
.inline{
    display: flex;
    justify-content: center;
    align-items: center;
}
#reg{
    left: 40px;
    right: 40px;
}


/* FOOTER */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
#foot-i{
    padding: 10px 20px;
    font-size: 1.5rem;
    color: #eee;
}


/* Media Query */
@media (max-width:395px){
    #form-i{
        font-size: 23px;
        padding: 0 14px;
    }
    input{
        width: 100%;
    }
    select{
        width: 100%;
        height: 32px;
        font-size: 14px;
        padding: 2px 4px;
    }
}
@media (max-width:390px){
    .button-box{
        height: 35px;
    }
    .toggle-btn{
        font-size: .8rem;
    }
    .check-box{
        height: 9px;
        width: 9px;
    }
    .cbtxt{
        font-size: 14px;
    }
    .submit-btn{
        font-size: 1rem;
    }
    input{
        height: 32px;
    }
    option{
        height: 32px;
        font-size: 12;
    }
    #log{
        padding-top: 90px;
    }
}
@media (max-width:1100px){
    .half-width{
        padding-top: 0px;
    }
    .join{
        padding: 60px 20px 20px 0px;
    }
    .login{
        padding-top: 260px;
    }
}
@media (max-width:951px){
    .join{
        padding: 30px 20px 20px 0px;
    }
}
@media (max-width:859px){
    #Register{
        padding-bottom: 0px;
    }
    .register{
        grid-template-columns: repeat(1, 1fr);
    }
    .join h2{
        font-size: 28px;
        margin-bottom: 4px;
    }
    .join p{
        font-size: 19px;
    }
    .join{
        order: -1;
        padding: 5px 25px;
    }
    .login{
        padding-top: 490px;
    }
    .Owner{
        height: 700px;
        width: 700px;
    }
    .address{
        font-size: 18px;
    }
}

@media (max-width:630px){
    .form-box{
        width: 100%;
    }
    .join h2{
        font-size: 20px;
    }
    .join p{
        font-size: 14px;
    }
    .half-width{
        padding-top: 0px;
    }
    .join{
        padding-top: 0px;
    }
    .login{
        padding-top: 12%;
        padding-bottom: 20px;
        font-size: 10;
    }
    #Register{
        padding-bottom: 40px;
    }
    .register{
        padding-bottom: 10px;
    }
    button{
        font-size: 14px;
    }
    footer>.fab, .fas{
        padding: 10px 10px;
        font-size: .5rem;
    }
}
@media (max-width:895px){
    .box h2{
        font-size: 1.3rem;
    }
    .box{
        width: 103%;
    }
}
@media (max-width:760px){
    .box h2{
        font-size: 1rem;
    }
}
@media (max-width:500px){
    .row{
        grid-template-columns: repeat(1, 1fr);
    }
    .box{
        width: 90%;
    }
    .box h2{
        font-size: 1.2rem;
    }
}

@media (max-width:1280px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
    h3{
        font-size: 1.3rem;
    }
    p{
        font-size: 1rem;
    }
    .img{
        width: 98%;
    }
}
@media (max-width:925px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .img{
        width: 95%;
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: .8rem;
    }
}
@media (max-width:810px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    h3{
        font-size: 1.4rem;
    }
    p{
        font-size: 1.2rem;
    }
    .img{
        width: 95%;
    }
        .form-box{
            width: 82%;
        }
        optgroup{
            width: 70%;
        }
        .register{
            grid-template-columns: repeat(1, 1fr);
        }
        .half-width{
            padding: 15px;
        }
        .join{
            order: -1;
            padding: 5px 25px;
        }
        .login{
            padding-top: 470px;
        }
        #Register{
            padding-bottom: 0px;
        }
}
@media (max-width:670px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
    .img{
        width: 95%;
    }
    .img a{
        padding: 5px 10px;
        font-size: 1rem;
        width: 100px;
    }
    
    input{
        width: 100%;
    }
    select{
        width: 100%;
        height: 32px;
        font-size: 14px;
        padding: 2px 4px;
    }
    .form-box{
        width: 90%;
    }
}
@media (max-width:690px) {
    input{
        width: 100%;
    }
    select{
        width: 100%;
        height: 32px;
        font-size: 14px;
        padding: 2px 4px;
    }
}
    @media (max-width:500px){
        .grid{
            grid-template-columns: repeat(1, 1fr);
        }
        .img{
            width: 70%;
        }
        h3{
            font-size: 1.3rem;
        }
        p{
            font-size: 1rem;
        }
        .img a{
            padding: 5px 10px;
            font-size: 1.2rem;
            width: 130px;
        }
        .cbtxt{
            font-size: 12px;
        }
}

@media (max-width:1000px) {
    #about{
        padding: 45px;
    }
        .aboutcontainer{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #pic1{
            justify-content: center;
        }
        #intro1{
            justify-content: center;
            align-items: center;
            padding: 20px;
            width: 450px;
        }

        .homecontainer{
            flex-direction: column;
        }
        #pic{
            justify-content: center;
        }
        #intro{
            margin: 15px;
        }
        #intro{
            margin: 0px;
        }
    }
    @media (max-width:520px) {
        #intro1{
            padding-top: 15px;
        }
    }
    
@media (max-width:600px) {
    .homecontainer{
        flex-direction: column;
    }
}
@media (max-width:900px){
    nav li a:-webkit-any-link{
    padding: 0px 20px;
   }
   nav>ul>li{
       font-size: 1.2rem;
       height: 35px;
       line-height: 35px;
   }
}
@media (max-width:650px){
    nav li a:-webkit-any-link{
        padding: 0px 18px;
       }
       nav>ul>li{
           font-size: .9rem;
       }
       li>a:-webkit-any-link>.fa-angle-down{
        font-size: .9rem;
        padding: 0px;
    }
}
@media (max-width:550px){
    nav li a:-webkit-any-link{
        padding: 0px 20px;
       }
       nav>ul>li{
           font-size: .9rem;
       }
       li>a:-webkit-any-link>.fa-angle-down{
           font-size: .9rem;
           padding: 0px;
       }
}
@media (max-width:470px){
    nav li a:-webkit-any-link{
        padding: 0px 12px;
       }
       nav>ul>li{
           font-size: .8rem;
           height: 30px;
           line-height: 30px;
       }
       li>a:-webkit-any-link>.fa-angle-down{
        font-size: .8rem;
        padding: 0px;
    }
}
@media (max-width:435px){
    nav li a:-webkit-any-link{
        padding: 0px 12px;
       }
       nav>ul>li{
           font-size: .7rem;
           height: 30px;
           line-height: 30px;
       }
       li>a:-webkit-any-link>.fa-angle-down{
        font-size: .7rem;
        padding: 0px;
    }
    #form-i{
        font-size: 28px;
        padding: 0 16px;
    }
    input{
        width: 100%;
    }
    select{
        width: 100%;
        height: 32px;
        font-size: 14px;
        padding: 2px 4px;
    }
    .form-box{
        width: 100%;
    }
}
@media(max-width:475px){
    
    #form-i{
        font-size: 29px;
        padding: 0 16px;
    }
    input{
        width: 100%;
    }
    select{
        width: 100%;
        height: 32px;
        font-size: 14px;
        padding: 2px 4px;
    }
    .form-box{
        width: 100%;
    }
}